repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest tests
        language: system
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: verify-docstring-refs
        name: Verify docstring references
        entry: poetry run python3 scripts/verify_docstring_refs.py
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-docs
        name: Ensure docs/api.md is up to date
        entry: poetry run scripts/check-docs.sh
        additional_dependencies: []
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: link-check
        name: Check local links in Markdown
        entry: poetry run md-dead-link-check --all
        language: system
        files: \.md$
