repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest tests
        language: system
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: check_docstring_refs
        name: Verify docstring references
        entry: poetry run python3 scripts/check_docstring_refs.py
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: check_docs_freshness
        name: Ensure docs/api.md is up to date
        entry: poetry run scripts/check_docs_freshness.sh
        additional_dependencies: []
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: check_links
        name: Check dead links in Markdown
        entry: poetry run md-dead-link-check --all
        language: system
        files: \.md$
